/*****************************************************
/                 Temple Inn & Suites
/                   - Large View -
/*****************************************************/

/* Global Styles -------------------------------*/

body {
  font-size: 16px;
}

/* Header --------------------------------------*/

header {
  flex-direction: row;
  justify-content: space-between;

  a div.logo-box {
    font-size: 1.5rem;

    img {
      height: 80px;
      padding-left: 2rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 2.5rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }

    h1 span.fancy {
      font-size: 3.5rem;
    }
  }

  nav {
    margin-right: 1rem;

    ul.navigation {
      /*padding-top: 1.5rem;*/
      
      li {
        display: grid;
        grid-template-rows: 0.75fr 1fr 0.75fr; 
        
        img.active-decoration {
          display: grid;
          width: 7rem;
        }

        div.top-decoration {
          justify-self: center;
          align-self: end;
        }

        div.bottom-decoration {
          justify-self: center;
          align-self: top;
        }
      }

      li:nth-child(5) {
        display: none;
      }
    }
  }

  /*main div.call-to-action {
    align-self: flex-end;
  }*/

}