/*****************************************************
/                 Temple Inn & Suites
/                   - Medium View -
/*****************************************************/

/************************************************/
/* Global Styles -------------------------------*/
/************************************************/

body {
  font-size: 14px;
}

/************************************************/
/* Header --------------------------------------*/
/************************************************/

header {
  a div.logo-box {


    img {
      height: 70px;
      padding-left: 1.5rem;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 2rem;
    }

    h1 span.fancy {
      font-size: 3rem;
    }
  }

  /* Navigation --------------------------------*/

  nav {
    margin-right: 0.5rem;
  }

  div.responsive {
    top: 85px;
  }
}

/************************************************/
/* Main ----------------------------------------*/
/************************************************/

main {

  /* Home: Hero/Banner Image -------------------*/

  section.hero {
    max-height: 34rem;

    img.home-banner {
      max-height: 34rem;
      left: -5rem;
    }

    div.call-to-action a {
      font-size: 1.5rem;
    }
  }

  /* Home: Page Tiles --------------------------*/

  section.page-tiles {
    flex-direction: row;
  }

  /* Home: Temple Feature ----------------------*/

  section.temple-feature {

    div.temple-overlay {
      position: absolute;
      top: 3rem;
      left: 4rem;
      padding: 2rem;
    }
  }

  /**********************************************/
  /* Reservations Page -------------------------*/
  /**********************************************/

  div.formdiv {
    max-width: 33rem;
    left: 1rem;
  }

  /* Form Settings (Reservations & Contact) ----*/

  form {

    fieldset {
      margin: 1rem 2rem;
    }

    div.button-div {
      margin: 1rem 2rem;
    }
  }

  /**********************************************/
  /* Services, Receptions, & Missionaries Pages */
  /**********************************************/

  section.main-content {

    div {
      font-size: 1.25rem;
      line-height: 1.5rem;

      div.tile {
        padding: 3rem;

        div.tile-overlay {
          margin-right: 3rem;
        }
      }
    }

    div.text {

      div.call-to-action {
        padding: 1rem 2rem;

        a {
          font-size: 1.25rem;
        }
      }
    }
  }

  /**********************************************/
  /* Temples Page ------------------------------*/
  /**********************************************/

  div.cards {
    line-height: 1.25rem;

    section {

      div.left {

        img {
          max-width: 600px;
        }
      }

      div.right {
        grid-template-columns: 1.2fr 0.8fr;
        padding: 1rem 2rem;

        div.quad5 {
          grid-column: span 2;
        }
      }
    }
  }

  /**********************************************/
  /* Contact Page ------------------------------*/
  /**********************************************/

  section.contact-page {

    div.contact-info {
      padding: 2rem;

      div {
        
        p {
          font-size: 1.25rem;
          line-height: 1.75rem;

          span {
            font-size: 2rem;
          }
        }
      }
    }

    div.contact-form {
      margin: 2rem auto;
      width: 500px;
    }
  }
}

/************************************************/
/* Footer --------------------------------------*/
/************************************************/

footer address {
  flex-direction: row;
  justify-content: space-around;
  margin: 0;

  div.footer-address {
    padding: 2rem 2rem 0.5rem 2rem;
  }

  div.footer-contact {
    padding: 2rem 2rem 0.5rem 2rem;
  }
}