/*****************************************************
/                 Temple Inn & Suites
/                   - Medium View -
/*****************************************************/

/* Global Styles -------------------------------*/

body {
	font-size: 14px;
}

/* Header --------------------------------------*/

header a div.logo-box {
	font-size: 1.25rem;

	img {
		height: 75px;
		padding-left: 1.5rem;
	}

	h1 span.fancy {
		font-size: 3.0rem;
	}
}