/*****************************************************
/                 Temple Inn & Suites
/                   - Small View -
/*****************************************************/

/* Global Styles -------------------------------*/

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 12px;
  font-family: $bodyFont;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  color: $headingColor;
}

/* Header --------------------------------------*/

header {
  background-color: $mainColorLight;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: $textColor;

    div.logo-box {
      display: flex;
      align-items: center;

      img {
        height: 45px;
        padding: 0.5rem 0.25rem 0.5rem 0.75rem;
      }

      h1 {
        font-family: $logoFont;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 0.5rem;
        line-height: 1.25rem;
        font-weight: normal;

        span.fancy {
          font-family: $fancyFont;
          font-size: 1.75rem;
        }
      }
    }
  }

  /* Navigation --------------------------------*/

  nav {
    display: flex;
    font-size: 1.5em;
    margin-right: 0rem;

    ul.navigation {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      li {
        display: flex;
        text-align: center;
        display: none;

        a {
          align-self: center;
          padding: 0.25rem 1rem;
        }

        img.active-decoration {
          display: none;
        }
      }

      li:nth-child(5) {
        display: flex;
        font-size: 1.75rem;
        padding-right: 0.5rem;
      }
    }
  }

  div.drop-down {
    display: none;
  }

  div.responsive {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1;
    background-color: $mainColorLight;

    a {
      display: block;
      color: $textColor;
      text-align: left;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      text-decoration: none;
    }

    a.indent {
      padding-left: 4rem;
      font-size: 1.25rem;
    }

    a:hover {
      background-color: $mainColorDark;
    }

    a.active {
      text-decoration: underline overline $accentColor;
    }

  }
}

/* Main ----------------------------------------*/
main {
  h2 {
    font-size: 3.5em;
  }

  div {
    div.call-to-action {
      display: block;
      background-color: $accentColor;
      position: relative;
      bottom: 150px;
      margin: 0 auto;
      padding: 1.5rem 2rem;
      width: max-content;
      border: 2px solid rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.7);

      a {
        color: $textColor;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}

/* Footer --------------------------------------*/

footer {
  background-color: $mainColorLight;
}