/*****************************************************
/                 Temple Inn & Suites
/                   - Small View -
/*****************************************************/

/* Global Styles -------------------------------*/

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 12px;
  font-family: $bodyFont;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  color: $headingColor;
}

/* Header --------------------------------------*/

header {
  background-color: $mainColorLight;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $textColor;

    div.logo-box {
      font-family: $logoFont;
      font-size: 0.75rem;
      display: flex;
      align-items: flex-end;

      img {
        height: 45px;
        padding: 0.5rem 0.25rem 0.5rem 0.75rem;
      }

      h1 {
        margin: 0;
        padding-bottom: 0.25rem;
        font-weight: normal;

        span.fancy {
          font-family: $fancyFont;
          font-size: 1.75rem;
        }
      }
    }
  }

  /* Navigation --------------------------------*/

  nav {
    display: flex;
    flex-direction: column;

    /*  margin: auto; */
    /*font-weight: bold; */
    /*flex-direction: column;*/
    /*align-items: flex-end;*/

    font-size: 1.75em;

    div.call-to-action {
      display: flex;
      align-self: center;

      button {
        background-color: $accentColor;
        padding: 0.25rem;
        margin: 1rem 1rem 0.5rem 0.5rem;
      }
    }

    div.navigation {

      /*display: flex;
      flex-direction: row; */
      ul {
        display: flex;
        list-style-type: none;
        padding: 0.5rem 0;
        margin: 0;

        li {
          text-align: center;

          a {
            padding: 0.25rem 1rem;
          }

          a.active {
            background-color: $accentColor;
          }          
        }

        li:nth-child(5) {
          display: none;
        }
      }
    }
  }

  /*.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */



  /*.navigation li {
    display: none;
  } */

  /*.navigation a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
  } */

  /*.navigation a:hover {
    background-color: #9dc3c2;
  } */

  /*.navigation .active {
    color: #fff;
    text-shadow: 0 0 2px rgb(31, 45, 58), 0 0 10px rgb(31, 45, 58);
  } */

  /*.responsive li {
    display: block;
  }*/

}

/* Main ----------------------------------------*/

h2 {
  font-size: 3.5em;
}

/* Footer --------------------------------------*/

footer {
  background-color: $mainColorLight;
}