/*****************************************************
/                 Temple Inn & Suites
/                    - Variables -
/*****************************************************/

/* Colors --------------------------------------*/
$backgroundColor: #FBFBF2; // Floral White 
$mainColorLight: #EDE0D0; // Almond 
$mainColorDark: #CBB8A9; // Dark Vanilla
$accentColor: #D88C8C; // Shimmering Blush
$headingColor: #CE6F6F;  // A darker version of Shimmering Blush for text
$textColor: black;

/* Fonts ---------------------------------------*/
$logoFont: 'Julius Sans One', sans-serif;
$fancyFont: 'Alex Brush', cursive;
$headingFont: 'Sacramento', cursive;
$bodyFont: 'Open Sans', sans-serif;