/*****************************************************
/                 Temple Inn & Suites
/                    - Variables -
/*****************************************************/

/* Colors --------------------------------------*/
$backgroundColor: #FBFBF2; // Floral White 
$backgroundColor50: rgba(251, 251, 242, 0.5); // Floral White with 50% opacity
$backgroundColor70: rgba(251, 251, 242, 0.7); // Floral White with 70% opacity
$mainColorLight: #EDE0D0; // Almond 
$mainColorDark: #CBB8A9; // Dark Vanilla
$mainColorDark50: rgba(203, 184, 169, 0.7); // Dark Vanilla with 50% opacity
$accentColor: #D88C8C; // Shimmering Blush
$accentColor50: rgba(216, 140, 140, 0.5); // Shimmering Blush with 50% opacity
$accentHover: #DFA0A0; // a lighter version of Shimmering Blush
$headingColor: #CE6F6F;  // A darker version of Shimmering Blush for text

$textColor: black;

/* Fonts ---------------------------------------*/
$logoFont: 'Julius Sans One', sans-serif;
$fancyFont: 'Alex Brush', cursive;
$headingFont: 'Sacramento', cursive;
$bodyFont: 'Open Sans', sans-serif;